In [1]:
import pandas as pd

In [2]:
#file variable gets path to source csv
file = "../Resources/purchase_data.csv"

# read source data in
Pymoli_data = pd.read_csv(file)

#create dataframe
Pymoli_df = pd.DataFrame(Pymoli_data)

In [3]:
#PLAYER COUNT TABLE

#total number of players
total_players = len(Pymoli_df["SN"].value_counts())
Pymoli_players_df = pd.DataFrame({"Player Count":[total_players]})
Pymoli_players_df

   Player Count
0           576

In [4]:
#PURCHASING ANALYSIS

#number of unique items
num_unique_items = len(Pymoli_df["Item ID"].unique())
num_unique_items

179

In [5]:
#PURCHASING ANALYSIS

#total num purchases
total_num_purchases = int(Pymoli_df["Purchase ID"].count())
total_num_purchases

780

In [6]:
#PURCHASING ANALYSIS

#total revenue
total_revenue = Pymoli_df["Price"].sum()
total_revenue

2379.77

In [7]:
#PURCHASING ANALYSIS

#average purchase price
avg_purchase_price = total_revenue/total_num_purchases
avg_purchase_price

3.0509871794871795

In [8]:
#PURCHASING ANALYSIS TABLE
purchasing_analysis_df = pd.DataFrame({"Number Of Unique Items":[num_unique_items], "Average Price":[avg_purchase_price], 
                                       "Number Of Purchases":[total_num_purchases], "Total Revenue":[total_revenue]})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [9]:


#GENDER DEMOGRAPHICS: percentage and count of all 3 genders

Pymoli_data.drop_duplicates(subset="SN", keep="first", inplace=True)
Pymoli_unique_SN_df = pd.DataFrame(Pymoli_data)
count_values = Pymoli_unique_SN_df["Gender"].value_counts()
count_percents = Pymoli_unique_SN_df["Gender"].value_counts(normalize=True).mul(100).round(2)
count_percents = count_percents.astype(str) + "%"
gender_demographics_df = pd.DataFrame({"Total Count":count_values, "Percentage of Players":count_percents})


#reset data
#read source data in
Pymoli_data = pd.read_csv(file)

#create dataframe
Pymoli_df = pd.DataFrame(Pymoli_data)

gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [10]:
#TUTOR: how to get $3.20 from $3.2 in below table?

#PURCHASING ANALYSIS BY GENDER

grouped_genders_df = Pymoli_df.groupby(["Gender"])
purchase_counts = grouped_genders_df["Purchase ID"].count()
total_purchase_values = "$" + grouped_genders_df["Price"].sum().round(2).astype(str)
avg_purchase_price = "$" + ((grouped_genders_df["Price"].sum())/purchase_counts).round(2).astype(str)
avg_total_person = "$" + (grouped_genders_df["Price"].sum()/count_values).round(2).astype(str)

purchasing_by_gender_df = pd.DataFrame({"Purchase Count":purchase_counts, "Average Purchase Price":avg_purchase_price,
                                        "Total Purchase Value":total_purchase_values, "Average Total Purchase Per Person":avg_total_person})
purchasing_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [11]:
#AGE DEMOGRAPHICS
Pymoli_age_dems_df = pd.DataFrame({"Age":Pymoli_unique_SN_df["Age"], "SN":Pymoli_unique_SN_df["SN"]})

bin_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
Pymoli_age_dems_df[" "] = pd.cut(Pymoli_unique_SN_df["Age"], bins, labels=bin_labels, include_lowest=True)
Pymoli_age_dems_grouped = Pymoli_age_dems_df.groupby(" ")

Pymoli_final_age_dems = (pd.DataFrame(Pymoli_age_dems_grouped[["Age"]].count())).rename(columns={"Age":"Total Count"})
Pymoli_final_age_dems["Percentage Of Players"] = (pd.DataFrame((Pymoli_age_dems_grouped[["Age"]].count()/Pymoli_age_dems_df["SN"].count()).mul(100).round(2).astype(str) + "%")).rename(columns={"Age":"Percentage Of Players"})

Pymoli_final_age_dems

       Total Count Percentage Of Players

< 10            17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [12]:
#PURCHASING ANALYSIS BY AGE

Pymoli_age_dems_df = pd.DataFrame({"Age":Pymoli_df["Age"], "Purchase ID":Pymoli_df["Purchase ID"],
                                  "Price":Pymoli_df["Price"], 'SN':Pymoli_unique_SN_df['SN']})

Pymoli_age_dems_df[" "] = pd.cut(Pymoli_df["Age"], bins, labels=bin_labels, include_lowest=True)
Pymoli_age_dems_grouped = Pymoli_age_dems_df.groupby(" ")

Pymoli_age_dems_purchase_counts = Pymoli_age_dems_grouped['Purchase ID'].count()
Pymoli_age_dems_total_purchases = Pymoli_age_dems_grouped['Price'].sum()
Pymoli_age_dems_avg_price = Pymoli_age_dems_total_purchases/Pymoli_age_dems_purchase_counts
Pymoli_age_dems_avg_purchase_personal = Pymoli_age_dems_total_purchases/(Pymoli_age_dems_grouped['SN'].count())

Pymoli_age_analysis_df = pd.DataFrame({'Purchase Count':Pymoli_age_dems_purchase_counts, 'Average Purchase Price':
                                      Pymoli_age_dems_avg_price, 'Total Purchase Value':Pymoli_age_dems_total_purchases,
                                      'Average Purchase Total Per Person':Pymoli_age_dems_avg_purchase_personal})

Pymoli_age_analysis_df['Average Purchase Price'] = '$' + Pymoli_age_analysis_df['Average Purchase Price'].round(2).astype(str)
Pymoli_age_analysis_df['Average Purchase Total Per Person'] = '$' + Pymoli_age_analysis_df['Average Purchase Total Per Person'].round(2).astype(str)
Pymoli_age_analysis_df['Total Purchase Value'] = '$' + Pymoli_age_analysis_df['Total Purchase Value'].round(2).astype(str)

Pymoli_age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
,,,,
< 10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [22]:
#Top Spenders

top_spenders_df = pd.DataFrame({"Purchase ID":Pymoli_df["Purchase ID"], 
                                "Price":Pymoli_df["Price"], 'SN':Pymoli_df['SN']})

top_spenders_grouped = top_spenders_df.groupby('SN')
purchase_counts = top_spenders_grouped['Purchase ID'].count()
purchase_totals = top_spenders_grouped['Price'].sum()
avg_purchase_prices = purchase_totals/purchase_counts

top_spenders_final_df = pd.DataFrame({'Purchase Count':purchase_counts,
                                       'Average Purchase Price':avg_purchase_prices,
                                      'Total Purchase Value':purchase_totals})
top_spenders_final_df = top_spenders_final_df.sort_values('Total Purchase Value', axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last', ignore_index=False)
top_spenders_final_df['Average Purchase Price'] = '$' + top_spenders_final_df['Average Purchase Price'].round(2).astype(str)
top_spenders_final_df['Total Purchase Value'] = '$' + top_spenders_final_df['Total Purchase Value'].round(2).astype(str)



top_spenders_final_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

In [39]:
#Most Popular Items

most_pop_items_df = pd.DataFrame({"Item ID":Pymoli_df["Item ID"], 
                                "Price":Pymoli_df["Price"], 'Item Name':Pymoli_df['Item Name']})
most_pop_items_grouped = most_pop_items_df.groupby(['Item ID','Item Name'])
purchase_counts = most_pop_items_grouped['Item ID'].count()
total_purchase_values = most_pop_items_grouped['Price'].sum()
avg_item_prices = total_purchase_values/purchase_counts

most_pop_items_final_df = pd.DataFrame({'Purchase Count':purchase_counts, 'Average Item Price':avg_item_prices, 'Total Purchase Value':total_purchase_values})
most_pop_items_final_df = most_pop_items_final_df.sort_values('Purchase Count', axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last', ignore_index=False)

most_pop_items_final_df['Average Item Price'] = '$' + most_pop_items_final_df['Average Item Price'].round(2).astype(str)
most_pop_items_final_df['Total Purchase Value'] = '$' + most_pop_items_final_df['Total Purchase Value'].round(2).astype(str)
most_pop_items_final_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [43]:
#Most Profitable Items

most_profit_items_df = pd.DataFrame({'Purchase Count':purchase_counts, 'Average Item Price':avg_item_prices, 'Total Purchase Value':total_purchase_values})
most_profit_items_df = most_profit_items_df.sort_values('Total Purchase Value', axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last', ignore_index=False)

most_profit_items_df['Average Item Price'] = '$' + most_profit_items_df['Average Item Price'].round(2).astype(str)
most_profit_items_df['Total Purchase Value'] = '$' + most_profit_items_df['Total Purchase Value'].round(2).astype(str)

most_profit_items_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8