In [1]:
import pandas as pd

In [2]:
#file variable gets path to source csv
file = "../Resources/purchase_data.csv"

# read source data in
Pymoli_data = pd.read_csv(file)

#create dataframe
Pymoli_df = pd.DataFrame(Pymoli_data)

In [3]:
#PLAYER COUNT TABLE

#total number of players
total_players = len(Pymoli_df["SN"].value_counts())
Pymoli_players_df = pd.DataFrame({"Player Count":[total_players]})
Pymoli_players_df

   Player Count
0           576

In [4]:
#PURCHASING ANALYSIS

#number of unique items
num_unique_items = len(Pymoli_df["Item ID"].unique())
num_unique_items

179

In [5]:
#PURCHASING ANALYSIS

#total num purchases
total_num_purchases = int(Pymoli_df["Purchase ID"].count())
total_num_purchases

780

In [6]:
#PURCHASING ANALYSIS

#total revenue
total_revenue = Pymoli_df["Price"].sum()
total_revenue

2379.77

In [7]:
#PURCHASING ANALYSIS

#average purchase price
avg_purchase_price = total_revenue/total_num_purchases
avg_purchase_price

3.0509871794871795

In [8]:
#PURCHASING ANALYSIS TABLE
purchasing_analysis_df = pd.DataFrame({"Number Of Unique Items":[num_unique_items], "Average Price":[avg_purchase_price], 
                                       "Number Of Purchases":[total_num_purchases], "Total Revenue":[total_revenue]})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [9]:


#GENDER DEMOGRAPHICS: percentage and count of all 3 genders

Pymoli_data.drop_duplicates(subset="SN", keep="first", inplace=True)
Pymoli_unique_SN_df = pd.DataFrame(Pymoli_data)
count_values = Pymoli_unique_SN_df["Gender"].value_counts()
count_percents = Pymoli_unique_SN_df["Gender"].value_counts(normalize=True).mul(100).round(2)
count_percents = count_percents.astype(str) + "%"
gender_demographics_df = pd.DataFrame({"Total Count":count_values, "Percentage of Players":count_percents})


#reset data
#read source data in
Pymoli_data = pd.read_csv(file)

#create dataframe
Pymoli_df = pd.DataFrame(Pymoli_data)

gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [10]:
#TUTOR: how to get $3.20 from $3.2 in below table?

#PURCHASING ANALYSIS BY GENDER

grouped_genders_df = Pymoli_df.groupby(["Gender"])
purchase_counts = grouped_genders_df["Purchase ID"].count()
total_purchase_values = "$" + grouped_genders_df["Price"].sum().round(2).astype(str)
avg_purchase_price = "$" + ((grouped_genders_df["Price"].sum())/purchase_counts).round(2).astype(str)
avg_total_person = "$" + (grouped_genders_df["Price"].sum()/count_values).round(2).astype(str)

purchasing_by_gender_df = pd.DataFrame({"Purchase Count":purchase_counts, "Average Purchase Price":avg_purchase_price,
                                        "Total Purchase Value":total_purchase_values, "Average Total Purchase Per Person":avg_total_person})
purchasing_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [21]:
#AGE DEMOGRAPHICS
Pymoli_age_dems_df = pd.DataFrame({"Age":Pymoli_unique_SN_df["Age"], "SN":Pymoli_unique_SN_df["SN"]})

bin_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
Pymoli_age_dems_df[" "] = pd.cut(Pymoli_unique_SN_df["Age"], bins, labels=bin_labels, include_lowest=True)
Pymoli_age_dems_grouped = Pymoli_age_dems_df.groupby(" ")

pym = (pd.DataFrame(Pymoli_age_dems_grouped[["Age"]].count())).rename(columns={"Age":"Total Count"})
pym["Percentage Of Players"] = (pd.DataFrame((Pymoli_age_dems_grouped[["Age"]].count()/Pymoli_age_dems_df["SN"].count()).mul(100).round(2).astype(str) + "%")).rename(columns={"Age":"Percentage Of Players"})

pym

       Total Count Percentage Of Players

< 10            17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%