In [1]:
import pandas as pd

In [2]:
#file variable gets path to source csv
file = "../Resources/purchase_data.csv"

# read source data in
Pymoli_data = pd.read_csv(file)

#create dataframe
Pymoli_df = pd.DataFrame(Pymoli_data)

In [3]:
#PLAYER COUNT TABLE

#total number of players
total_players = len(Pymoli_df["SN"].value_counts())
Pymoli_players_df = pd.DataFrame({"Player Count":[total_players]})
Pymoli_players_df

   Player Count
0           576

In [4]:
#PURCHASING ANALYSIS

#TUTOR: how do I use unique here?
num_unique_nunique = Pymoli_df.groupby("Item ID").nunique().count()
num_unique_nunique

#number of unique items
num_unique_items = len(Pymoli_df["Item ID"].value_counts())
num_unique_items

179

In [5]:
#PURCHASING ANALYSIS

#total num purchases
total_num_purchases = int(Pymoli_df["Purchase ID"].count())
total_num_purchases

780

In [6]:
#PURCHASING ANALYSIS

#total revenue
total_revenue = Pymoli_df["Price"].sum()
total_revenue

2379.77

In [7]:
#PURCHASING ANALYSIS

#average purchase price
avg_purchase_price = total_revenue/total_num_purchases
avg_purchase_price

3.0509871794871795

In [12]:
#PURCHASING ANALYSIS TABLE
purchasing_analysis_df = pd.DataFrame({"Number Of Unique Items":[num_unique_items], "Average Price":[avg_purchase_price], 
                                       "Number Of Purchases":[total_num_purchases], "Total Revenue":[total_revenue]})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [19]:
#GENDER DEMOGRAPHICS: percentage and count of all 3 genders

players_by_gender_df = Pymoli_df["Gender"].nunique()
players_by_gender_df

3